body {
    margin:0;
    padding:0;
}
#Image1{
    margin:0,0,0,0;
    padding:0,0,0,0;
}
#img{
    margin:0,0,0,0;
    padding:0,0,0,0;
}
#menu{
    height:40px;
    background-color:#502F1E;
    margin:0,0,0,0;
    padding:0,0,0,0;
}
#tab {
    float:left;
    margin:0;
    padding:0;
}
#logn{
    height:30px;
    float:right;
    color:white;
    margin:auto;
    top:0;
    bottom:0;
    right:30px;
    position:relative;
}


#menu a:link { 
    color:white;
    text-decoration:none; 
} 
#menu a:visited { 
    color:white; 
    text-decoration:none; 
} 
#menu a:hover { 
    color:#F78B25;
    text-decoration:none; 
} 
#menu a:active { 
    color:#FFFFFF; 
    text-decoration:none; 
} 
}
