<%@ Master Language="C#" AutoEventWireup="true" CodeFile="test.master.cs" Inherits="Mastrpage_test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="../css/Mastr1.css" rel="stylesheet" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
            <div>
                <asp:ImageMap ID="header" runat="server" HotSpotMode="Navigate" ImageUrl="~/image/header1.png" ImageAlign="Middle" Height="150px" Width="60%">
                    <asp:RectangleHotSpot Bottom="100" HotSpotMode="Navigate" Left="90" NavigateUrl="~/page/index.aspx" Right="310" Top="40" />
                </asp:ImageMap>
        </div>
            <div id="menu">
                <div id="tab">
                <asp:Table ID="menutab" runat="server">
                    <asp:TableRow runat="server">
                        <asp:TableCell class="menu_a" runat="server" Height="30px" Width="50px"><a href="../page/index.aspx">首页</a></asp:TableCell>
                        <asp:TableCell class="menu_a" runat="server" Height="30px" Width="50px"><a>书库</a></asp:TableCell>
                        <asp:TableCell class="menu_a" runat="server" Height="30px" Width="50px"><a>悬赏</a></asp:TableCell>
                        <asp:TableCell class="menu_a" runat="server" Height="30px" Width="50px"><a>评论区</a></asp:TableCell>
                        <asp:TableCell class="menu_a" runat="server" Height="30px" Width="70px"><a>个人中心</a></asp:TableCell>
                    </asp:TableRow>
                </asp:Table>
                </div>
                <div id="logn">
                   <a class="menu_a">登录</a>
                </div>
            </div> 
            </asp:ContentPlaceHolder>
        </div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
    </form>
</body>
</html>
