body {
    background-color:#6f605a;
}
.items-body {
    margin-top: 60px;
}
#sale_div{
    width:140px;
    margin-left:auto;
    margin-right:auto;
}
#book_sale{
    font-size:xx-large;
    color:#6F605A;
    font-weight:bold;
    font-family:YouYuan;
}
#book{
    left:5%;
    width:90%;
    position:relative;
}
#find{
    margin:0,0,10px,0;
}
#book_find{
    height:50px;
    width:75%;
}
#btn_find{
    height:50px;
    background-color:#6f605a;
    font-size:x-large;
    color:white;
    font-weight:bold;
    font-family:YouYuan;
}

#paging{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    top:30px;
    position:relative;
}
#Panel1 {
    text-align:center;
    left:20%;
    right:20%;
    position:absolute;
    margin-left:10px;
    margin-right:auto;
    padding:0 0 0 0;
    margin:0;
}
.clear{
    clear:both;
}
#Image1{
    
    margin:0,0,0,0;
    padding:0,0,0,0;
}
#img{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin:0,0,0,0;
    padding:0,0,0,0;
}
#menu{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    height:30px;
    background-color:#502F1E;
    margin:0,0,0,0;
    padding:0,0,0,0;
}
#tab {
    float:left;
    margin:0;
    padding:0;
}
#logn{
    height:30px;
    line-height: 30px;
    float:right;
    color:white;
    margin:auto;
    top:0;
    bottom:0;
    right:30px;
    position:relative;
}


#menu a:link { 
    color:white;
    text-decoration:none; 
} 
#menu a:visited { 
    color:white; 
    text-decoration:none; 
} 
#menu a:hover { 
    color:#F78B25;
    text-decoration:none; 
} 
#menu a:active { 
    color:#FFFFFF; 
    text-decoration:none; 
} 
#right{
    background-color:white;
}
