body {
    background-color: #FFEEE9;
}
#comment_left{
    font-size:larger;
    color:#6F605A;
    font-weight:bold;
    font-family:YouYuan;
}
#div_title{
    margin-left:30px;
}
#lab_title{
    border:groove;
    width:70%;
    display:-moz-inline-box;
    display:inline-block;
}
#div_content{
    margin-left:30px;
}
#lab_content{
    border:groove;
    width:85%;
    display:-moz-inline-box;
    display:inline-block;
}
#div_ending{
    float:right;
    margin-right:50px;
}

